<% if can?(:manage, :learn_agenda) %>
  <li>
    <%= link_to t('header-menu.learn_attendance.agenda'),
      "https://learn.derose.app/teacher_panel/agenda" %>
  </li>
  <li>
    <%= link_to t('header-menu.learn_attendance.report'),
      "https://learn.derose.app/admin/check_ins?as=report" %>
  </li>
  <li>
    <%= link_to t('header-menu.learn_attendance.checkins_distribution'),
      "https://learn.derose.app/admin/check_ins_distribution_report" %>
  </li>
<% end %>

<li>
  <%= link_to t('header-menu.attendance.attendances'),
              "#{APP_CONFIG['attendance-url']}/attendances" %>
</li>
<li>
  <%= link_to t('header-menu.attendance.time_slots'),
              "#{APP_CONFIG['attendance-url']}/time_slots" %>
</li>
<li>
  <%= link_to t('header-menu.attendance.trial_lessons'),
              "#{APP_CONFIG['attendance-url']}/trial_lessons" %>
</li>
<li>
  <%= link_to t('header-menu.attendance.stats'),
              "#{APP_CONFIG['attendance-url']}/stats" %>
</li>
