<header class="header">
  <div id="H_moduleArea">
    <%= render 'layouts/module_box' %>
    <nav class="subnav" data-priority="secondary" >
      <div class="wrapper">  
        <h2><%= yield(:breadcrum) %></h2>

        <%= yield(:header_submenu) %>
        
        <%= form_tag "#{APP_CONFIG['crm-url']}/contacts", {:id => "H_searchForm", :method => :get} do -%>
         <%= submit_tag "&nbsp;".html_safe, :class => "submit_search" -%>
          <%= text_field_tag :q, nil, iD: 'sField' %>
          
          <div class="select">
          <select name="scope">
            <option value="local"><%= t('header-menu.search.locally') %></option>
            <option value="global"><%= t('header-menu.search.globally') %></option>
          </select> 
         </div>
        <%- end -%>
      </div>
    </nav>
  </div><!-- #H_moduleArea -->
</header> <!-- .header -->
