<header id="header" role='banner'>
  <%= render 'layouts/module_box' %>
  <div class='breadcrumb'>
    <div class='container'>
      <div class='breadcrumb-inner'>
        <div class='breadcrumb-nav'>
          <div class='nav-item'><%= yield(:breadcrum) %></div>
          <div class='nav-item'><%= yield(:header_submenu) %></div>
        </div>
        <div class='breadcrumb-form'>
          <%= form_tag "#{APP_CONFIG['crm-url']}/contacts", {:class => 'form-inline', :id => "H_searchForm", :method => :get} do -%>
            <div class="select">
              <select name="scope">
                <option value="local"><%= t('header-menu.search.locally') %></option>
                <option value="global"><%= t('header-menu.search.globally') %></option>
              </select>
           </div>
            <%= text_field_tag :q, nil, iD: 'sField', :class => 'form-control' %>
            <%= submit_tag "&nbsp;".html_safe, :class => "submit_search search-btn" -%>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
</header>