<header class="header">
  <div id="H_moduleArea">
    <%= render 'layouts/module_box' %>
    <nav class="subnav" data-priority="secondary" >
      <div class="wrapper">  
        <h2><%= 'Que pasa si acá pongo algo super largo' %></h2>
        <%= form_tag "#{APP_CONFIG['crm-url']}/contacts", {:id => "H_searchForm", :method => :get} do -%>
          <select name="scope">
            <option value="local"><%= t('header-menu.search.locally') %></option>
            <option value="global"><%= t('header-menu.search.globally') %></option>
          </select> 
          <%= text_field_tag :q, nil, iD: 'sField' %>
          <%= submit_tag "&nbsp;".html_safe, :class => "submit_search" -%>
        <%- end -%>
      </div>
    </nav>
  </div><!-- #H_moduleArea -->
</header> <!-- .header -->
