	<li class="dropdown-header"><%= t('header-menu.lists.contacts.title') %></li>
  <li><%= link_to t('header-menu.lists.contacts.all_contacts'), "#{APP_CONFIG['crm-url']}/contacts" %></li>
    <%- %W(students former_students prospects).each do |st| -%>
      <li>
        <%= link_to t("header-menu.lists.contacts.#{st}"), "#{APP_CONFIG['crm-url']}/contacts/#{st}"  %>
      </li>
    <%- end -%>
    <li>
      <%= link_to t('header-menu.lists.contacts.current_month_birthdays'), "#{APP_CONFIG['crm-url']}/contacts?contact_search%5Bchosen_columns%5D%5B%5D=full_name&contact_search%5Bchosen_columns%5D%5B%5D=birthday&contact_search%5Bdate_attribute%5D%5Bcategory%5D=birthday&contact_search%5Bdate_attribute%5D%5Bmonth%5D=3" %>
    </li>
    
    <li class="dropdown-header"><%= t('header-menu.lists.subscription_changes.title') %></li>
   
    <li><%= link_to t('header-menu.lists.subscription_changes.enrollments'), "#{APP_CONFIG['crm-url']}/enrollments" %></li>
    <li><%= link_to t('header-menu.lists.subscription_changes.dropouts'), "#{APP_CONFIG['crm-url']}/drop_outs" %></li>
    
  <li class="dropdown-header"><%= t('header-menu.lists.communications.title') %></li>
    <li><%= link_to t('header-menu.lists.communications.all'), "#{APP_CONFIG['crm-url']}/communications" %></li>
    <li><%= link_to t('header-menu.lists.communications.visits'), "#{APP_CONFIG['crm-url']}/communications/interviews" %></li>
    <li><%= link_to t('header-menu.lists.communications.phonecalls'), "#{APP_CONFIG['crm-url']}/communications/phone_calls" %></li>
    <li><%= link_to t('header-menu.lists.communications.emails'), "#{APP_CONFIG['crm-url']}/communications/emails" %></li>
    <li><%= link_to t('header-menu.lists.communications.web'), "#{APP_CONFIG['crm-url']}/communications/web" %></li>
    
 <li class="dropdown-header"><%= t('header-menu.lists.comments.title') %></li>
    <li><%= link_to t('header-menu.lists.comments.all'), "#{APP_CONFIG['crm-url']}/comments" %></li>
    <% %W(FollowUp Gestion Revisacion Reunion).each do |t| -%>
      <li><%= link_to t("header-menu.lists.comments.#{t}"), "#{APP_CONFIG['crm-url']}/comments?comment_search%5Bcomment_types%5D%5B%5D=#{t}" %></li>
    <% end -%>
