<% mailing_url = "#{APP_CONFIG['crm-url']}/mailing" %>
<li><%= link_to t('header-menu.mailing.templates'), "#{mailing_url}/templates" %></li>
<li><%= link_to t('header-menu.mailing.addresses'), "#{mailing_url}/addresses" %></li>
<li><%= link_to t('header-menu.mailing.triggers'), "#{mailing_url}/triggers" %></li>
<li><%= link_to t('header-menu.mailing.scheduled_mails_all'), "#{mailing_url}/scheduled_mails/history" %></li>
<li><%= link_to t('header-menu.mailing.scheduled_mails_future'), "#{mailing_url}/scheduled_mails/pending" %></li>
<li><%= link_to t('header-menu.mailing.mailchimp_configuration'), "#{APP_CONFIG['crm-url']}/mailchimp/syncs" %></li>
<li><%= link_to t('header-menu.mailing.sendin_blue_configuration'), "#{APP_CONFIG['crm-url']}/brevo/syncs" %></li>
