<nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="H_logo" class="navbar-brand" href="/me"> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
             <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Listas <span class="caret"></span></a>
          
 
  <ul class="dropdown-menu" role="menu">
           <%= render 'layouts/lists_list' %>
  </ul>
            </li>
            
            
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Estad&iacute;sticas <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
<%= render 'layouts/stats_list' %>
  </ul>
            </li>
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mailing <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
           <%= render 'layouts/mailing_menu' %>
              </ul>
            </li>
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clases <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
           <%= render 'layouts/attendance_menu' %>
            </ul>
            </li>
            
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">M&oacute;dulos <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu"> <li><a href="#">Financiero</a></li> <li><a href="#">M&oacute;dulo</a></li></ul>
            </li>         
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t('layouts.header.menu.new_contact'), new_contact_path, class: 'tipsyS', 'original-title' => t('add_new_contact') %></li> 
      <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"  id="username">luis.perichon <span class="caret"></span></a>         
      <ul class="dropdown-menu" role="menu">
      <li><a href="#">Perfil de usuario</a></li>
      <li><a href="#">Escuela</a></li>
      <li><a href="#">Clases</a></li>
      <li><a href="#">Pagos</a></li>
      <li><a href="#">Pendientes</a></li>
      <li><a href="#">Hist&oacute;rico</a></li>
      <li><a href="<%= logout_url %>">SIGN OUT</a></li></ul>
            </li>

      </li>
      </ul>
      
        </div><!--/.nav-collapse -->
    </nav>
   
   
   
   
       <nav class="subnav" data-priority="secondary" >
<div class="wrapper">  
<h2>Dashboard</h2>

    <%= form_tag contacts_path, {:id => "H_searchForm", :method => :get} do -%>
       <select>
  <option value="todas">Todas</option>
  <option value="todas2">Todas 2</option>
  <option value="todas3">Todas 3</option>
</select> 
      <%= hidden_field_tag :scope, :local, :id => "full_text_search_scope" %>


      <% options = if current_user.verbose_help? 
          {:id => "sField", :class => "tipsyN", 'north-tipsy' => t('layouts.search_box.field_tooltip')}
        else
          {:id => "sField"}
        end
      -%>
      <%= text_field_tag :q, nil, options %>

      <%= submit_tag "&nbsp;".html_safe, :class => "submit_search" -%>

    <%- end -%>

 
</div>
</nav>


   