	<li>
      <%= link_to t("layouts.stats_list.pdg_report"),
                  "#{APP_CONFIG['overmind-url']}/schools/#{current_user.current_account.name}/reports/pedagogic/#{Date.today.year}/#{Date.today.month}" %>
    </li>
    <li>
      <%= link_to t("layouts.stats_list.overmind"),
                  "#{APP_CONFIG['overmind-url']}/schools/pa/#{current_user.current_account.name}" %>
    </li>
    <li>
      <%= link_to t('layouts.stats_list.marketing_methods_rankings'),
                  "#{APP_CONFIG['crm-url']}/marketing_methods" %>
    </li>
    <li>
      <%= link_to t('layouts.attendance_menu.stats'),
                  "#{APP_CONFIG['attendance-url']}/stats" %>
    </li>
    <li>
      <%= link_to "Statistica Office",
                  "#{APP_CONFIG['crm-url']}/statisticas/new" %>
    </li>
