<% curacc = current_user.current_account %>
<% alpha = curacc.respond_to?(:tester_level) ? (curacc.tester_level == 'alpha') : (curacc.padma.tester_level == 'alpha') %>
<% if curacc && !curacc.name.blank? -%>
  <li>
    <% if alpha %>
      <%= link_to t("header-menu.stats.pdg_report"),
                "#{APP_CONFIG['crm-url']}/statistics/accounts/#{curacc.padma.vanity_name}/reports/pedagogic/#{Date.today.year}/#{Date.today.month}" %>
    <% else %>
      <%= link_to t("header-menu.stats.pdg_report"),
                "#{APP_CONFIG['overmind-url']}/schools/#{current_user.current_account.name}/reports/pedagogic/#{Date.today.year}/#{Date.today.month}" %>
    <% end %>
  </li>
  <li>
    <% if alpha %>
      <%= link_to t("header-menu.stats.overmind"),
                "#{APP_CONFIG['crm-url']}/statistics/accounts/#{curacc.padma.vanity_name}" %>
    <% else %>
      <%= link_to t("header-menu.stats.overmind"),
                "#{APP_CONFIG['overmind-url']}/schools/pa/#{current_user.current_account.name}" %>
    <% end %>
  </li>
  <li>
    <% if alpha %>
      <%= link_to t("header-menu.stats.teacher_ranking"),
                "#{APP_CONFIG['crm-url']}/statistics/accounts/#{curacc.padma.vanity_name}/user_rankings" %>
    <% else %>
      <%= link_to t("header-menu.stats.teacher_ranking"),
                "#{APP_CONFIG['overmind-url']}/schools/#{current_user.current_account.name}/teacher_ranking" %>
    <% end %>
  </li>
<% end -%>
<li>
    <% if alpha %>
      <%= link_to t("header-menu.stats.schools_ranking"),
                "#{APP_CONFIG['crm-url']}/statistics/rankings" %>
    <% else %>
      <%= link_to t("header-menu.stats.schools_ranking"),
              "#{APP_CONFIG['overmind-url']}/ranking" %>
    <% end %>
</li>
<li>
  <%= link_to t('header-menu.stats.marketing_methods_rankings'),
              "#{APP_CONFIG['crm-url']}/marketing_methods" %>
</li>
<li>
  <%= link_to t('header-menu.stats.reasons_ranking'),
              "#{APP_CONFIG['crm-url']}/reasons" %>
</li>
<li>
  <%= link_to t('header-menu.attendance.stats'),
              "#{APP_CONFIG['attendance-url']}/stats" %>
</li>
<li>
  <%= link_to t('header-menu.attendance.attendances_by_teacher'),
    "#{APP_CONFIG['attendance-url']}/stats/attendances_by_teacher" %>
</li>
<li>
  <%= link_to "Statistica Office",
              "#{APP_CONFIG['crm-url']}/statisticas/new" %>
</li>
